h1{
    color: aquamarine;
}
body{
    background-image: url(../images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
img { 
    height: 50%;
    width: 40%;
}
.pic {
    height: 40%;
    width: 30%;
}