h1{
    text-align: center;
    background-color: rgb(31, 209, 24);
}
img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin: auto;
    display: block;  
}
H2{
    text-align: left;
    background-color: yellowgreen;

}
h3{
    text-align: center;
    background-color: rgb(157, 255, 0);
}
body{
    background-image: url(../images/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
}