h1{
    color: aquamarine;
}
body{
    background-color: pink;
    background-image: url("..//images/ok.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
img { 
    height: 50%;
    width: 40%;
}
.pic {
    height: 40%;
    width: 30%;

}
