h1{
    color: rgb(232, 255, 127);
}
body{
    background-image: url("..//images/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
img { 
    height: 50%;
    width: 40%;
}
.pic {
    height: 40%;
    width: 30%;

}
